<header class="navbar navbar-light navbar-fixed-top bg-faded bd-navbar" style="background-color: #e3f2fd;">
  <div class="container">
    <div class="clearfix hidden-sm-up">
      <button class="navbar-toggler pull-right hidden-sm-up collapsed" type="button" data-toggle="collapse" data-target="#app-nav"  aria-expanded="false">
        &#9776;
      </button>
      <a class="navbar-brand" href="/">MovPA</a>
    </div>

    <nav class="navbar-toggleable-xs collapse" id="app-nav" aria-expanded="false" style="height: 0px;">
      <ul class="nav navbar-nav">
        <li class="hidden-xs-down"><a class="navbar-brand" ng-link="['Home']">MovPA</a></li>
      </ul>
    </nav>
  </div>
</header>
