.row-fluid{
     white-space: nowrap;
}
.row-fluid .col-lg-3{
     display: inline-block;
}

.trim-info {
   overflow: hidden;
   text-overflow: ellipsis;
   white-space: nowrap;
   line-height: 15px;
   position: relative;
}

.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

@media (min-width: 992px) {
  .movies-container {
    display:flex;
    overflow:hidden;
    width:100%;
    height:300px;
  }

  .movie-arrow-prev {
    position: absolute;
    left: 2%;
    top: 45%;
  }

  .movie-arrow-next {
    position: absolute;
    left: 95%;
    top: 45%;
  }

  .movie-arrow-prev:before {
    content: "\f053";
  }
  .movie-arrow-next:before {
    content: "\f054";
  }

  .movie-arrow-prev:hover {
    color: #e3f2fd;
    cursor: pointer;
  }

  .movie-arrow-next:hover {
    color: #e3f2fd;
    cursor: pointer;
  }

  .movie {
    position: absolute;
    width: 16%;
    -webkit-transition: visibility 1s, left 1s, opacity 1s; /* For Safari 3.1 to 6.0 */
    transition: visibility 1s, left 1s, opacity 1s;
  }

  .pprev {
    visibility: hidden;
    left: -23%;
    opacity: 0;
  }

  .prev {
    visibility: visible;
    left: 10%;
    opacity: 1;
  }

  .current {
    visibility: visible;
    left: 43%;
    opacity: 1;
  }

  .next {
    visibility: visible;
    left: 76%;
    opacity: 1;
  }

  .nnext {
    visibility: hidden;
    left: 110%;
    opacity: 0;
  }
}

.invisible {
  visibility: hidden;
  opacity: 0;
}

@media (max-width: 992px) {
  .movies-container {
    overflow:hidden;
    width:auto;
    height:1100px;
  }

  .movie-arrow-prev {
    position: absolute;
    left: 45%;
    top: 5%;
  }

  .movie-arrow-next {
    position: absolute;
    left: 45%;
    top: 94%;
  }

  .movie-arrow-prev:before {
    content: "\f077";
  }
  .movie-arrow-next:before {
    content: "\f078";
  }

  .movie-arrow-prev:hover {
    color: #e3f2fd;
    cursor: pointer;
  }

  .movie-arrow-next:hover {
    color: #e3f2fd;
    cursor: pointer;
  }

  .movie {
    position: absolute;
    left: 20%;
    width: 60%;
    -webkit-transition: visibility 1s, top 1s, opacity 1s; /* For Safari 3.1 to 6.0 */
    transition: visibility 1s, top 1s, opacity 1s;
  }

  .pprev {
    visibility: hidden;
    top: -15%;
    opacity: 0;
  }

  .prev {
    visibility: visible;
    top: 12%;
    opacity: 1;
  }

  .current {
    visibility: visible;
    top: 40%;
    opacity: 1;
  }

  .next {
    visibility: visible;
    top: 69%;
    opacity: 1;
  }

  .nnext {
    visibility: hidden;
    top: 90%;
    opacity: 0;
  }
}

/* Space out content a bit */
body {
  padding-top: 70px;
  padding-bottom: 20px;
}

/* Everything but the jumbotron gets side spacing for mobile first views */
header,
footer {
  padding-left: 15px;
  padding-right: 15px;
}

/* Custom page footer */
footer {
  padding-top: 19px;
  color: #777;
  border-top: 1px solid #e5e5e5;
}

@media (max-width: 34em) {
  .bd-navbar .nav-item {
    float: none;
  }

  .navbar-nav .nav-item + .nav-item {
    margin-left: 0rem;
    float: none;
  }
}
