<div ng-repeat="list in $ctrl.list" class="row">
  <div class="col-lg-12">
    <div class="card card-block">
      <h4 class="card-title text-xs-center">{{list.title}}</h4>
      <movie id="{{list.id}}" category="list.id" movies="list.assets"></movie>
    </div>
  </div>
  <div class="clearfix visible-xs-block"></div>
</div>
