<div class="movies-container">
  <i class="fa fa-4x movie-arrow-prev" aria-hidden="true" ng-click="$ctrl.previousMovie()"></i>
  <div ng-repeat="movie in $ctrl.movies" class="movie" id="{{$ctrl.category+'_'+$index}}"
    ng-class="$index == $ctrl.movies.length - 1 ? 'pprev' : ($index == 0 ? 'prev' : ($index == 1 ? 'current' : ($index == 2 ? 'next' : ($index == 3 ? 'nnext' : 'invisible'))))">
    <div class="card text-xs-center">
      <img src="{{movie.img}}" height="250px" width="100%" class="card-img-top"/>
      <div class="card-footer trim-info" tooltip="{{movie.title}}">{{movie.title}}</div>
    </div>
  </div>
  <i class="fa fa-4x movie-arrow-next" aria-hidden="true" ng-click="$ctrl.nextMovie()"></i>
</div>
